@use '../../styles/variables' as vars;
@use '../../styles/colors' as colors;

.splash-screen {
    background-color: vars.$background-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .name {
        color: colors.$bright-white;
        font-style: italic;
    }

    .text {
        margin-left: 1rem;
    }

}

