@import '../../styles/variables';
@import '../../styles/colors';

.splash-screen {
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .name {
        color: $bright-white;
        font-style: italic;
    }

    .text {
        margin-left: 1rem;
    }

}

