@use '../../../styles/colors' as colors;

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    z-index: 10;

    .label {
        text-decoration: none;
        font-size: clamp(1.2rem, 1vw + 0.4rem, 3rem);
    }

    &:hover {
        * {
            color: colors.$blue;
        }
    }
}