@use '../../styles/variables' as vars;

.about {
    position: absolute;
    right: calc(vars.$page-padding * 2);
    bottom: calc(vars.$page-padding * 2);
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-height: 60svh;
    align-items: end;
    overflow: auto;

    .container {
        position: relative;
        z-index: 2;
        max-width: fit-content;

        .text {
            background-color: rgba(vars.$background-color, vars.$text-background-opacity);
            font-size: vars.$text-font-size-large;
            max-width: 20rem;
            line-height: 2;
        }
    }
}