@import '../../styles/variables.scss';

.about {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: end;

    .container {
        position: relative;
        z-index: 2;
        max-width: fit-content;

        .text {
            background-color: rgba($background-color, $text-background-opacity);
            font-size: $text-font-size;
            max-width: 20rem;
            line-height: 2;
        }
    }
}