/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/


.icon-list-container {
    display: flex;
    justify-content: space-around;

    .icon {
        &:hover {
            fill: pink;
        }
    }
}