@import '../../styles/styles.scss';
@import '../../styles/colors.scss';

.experience {
    @include container-padding;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    // z-index: -1;

    &:after {
        content: '';
        position: absolute;
        width: 2px;
        background: #006E51;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
    }

    .container {
        padding: 15px 30px;
        position: relative;
        background: inherit;
        width: 50%;

        &.left {
            left: 0;

            .date {
                right: -140px;
            }
        }

        &.right {
            left: 50%;

            &:after {
                left: -10px;
            }

            .date {
                left: -140px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: calc(50% - 8px);
            right: -10px;
            background: #ffffff;
            border: 2px solid #006E51;
            border-radius: 16px;
            z-index: 10;
        }

        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            top: calc(50% - 1px);
            right: 8px;
            background: #006E51;
            z-index: 1;
        }

        &.right{
            &:before {
                left: 8px;
            }
        }

        .date {
            position: absolute;
            display: inline-block;
            top: calc(50% - 8px);
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #006E51;
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 1;
        }

        .icon, svg {
            position: absolute;
            display: inline-block;
            width: 36px; // TODO - make resonponsive
            height: 20px;
            padding: 9px 0;
            top: calc(50% - 20px);
            background: #F6D155;
            border: 2px solid #006E51;
            border-radius: 40px;
            text-align: center;
            font-size: 18px;
            color: #006E51;
            z-index: 1;
        }

        &.left {
            .icon, svg {
                right: 56px;
            }
        }

        &.right {
            .icon, svg {
                left: 56px;
            }
        }

        .content {
            padding: 30px 90px 30px 30px;
            background: rgba($purple, 0.7);
            position: relative;
            border-radius: 0 500px 500px 0;
        }

        &.right .content {
            padding: 30px 30px 30px 90px;
            border-radius: 500px 0 0 500px;
        }

        .content{
            h2 {
                margin: 0 0 10px 0;
                font-size: 18px;
                font-weight: normal;
                color: #006E51;
            }
        }

        .content {
            p {
                margin: 0;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }
        }

    }
}

@media (max-width: 767.98px) {
    .timeline {
        &:after {
            left: 90px;
        }

        .container {
            width: 100%;
            padding-left: 120px;
            padding-right: 30px;
    
            &.right {
                left: 0%;
            }
    
            &.left, &.right {
                &:after {
                    left: 82px;
                }
            }
            &.left, &.right {
                &:before {
                    left: 100px;
                    border-color: transparent #006E51 transparent transparent;
                }
            }
    
            &.left .date,
            &.right .date {
                right: auto;
                left: -35px;
            }
    
            &.left .icon,
            &.left svg,
            &.right .icon,
            &.right svg {
                right: auto;
                left: 146px;
            }
    
            &.left .content,
            &.right .content {
                padding: 30px 30px 30px 90px;
                border-radius: 500px 0 0 500px;
            }
        }
    }
}