@import '../../styles/styles.scss';

@mixin tablet-and-up {
    @media screen and (min-width: 769px) { @content; }
}
@mixin mobile-and-up {
    @media screen and (min-width: 601px) { @content; }
}
@mixin tablet-and-down  {
    @media screen and (max-width: 768px) { @content; }
}
@mixin mobile-only {
    @media screen and (max-width: 600px) { @content; }
}

.container{
    position: absolute;
    width: calc(100svw - ($page-padding * 5));
    bottom: calc($page-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
    display: flex;
    justify-content: end;

    h1 {
        font-size: 2rem;
    }

    .wrapper{
        background: #eaf6ff;
        padding: 2rem;
    }

    .sessions{
        margin-top: 2rem;
        border-radius: 12px;
        position: relative;

        .item {
            padding-bottom: 1.5rem;
            border-left: 1px solid #abaaed;
            position: relative;
            padding-left: 20px;
            margin-left: 10px;
            &:last-child{
                border: 0px;
                padding-bottom: 0;
            }
            &:before{
                content: '';
                position: absolute;
                left: -1px;
                top: 0px;
                width: 1rem;
                height: 1rem;
                background: red linear-gradient(red, blue);
                clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
                transform: rotate(90deg);
            }
            .time{
                color: #2a2839;
                font-weight: 500;
                @include mobile-and-up{
                    font-size: 1.1rem;
                }
                @include mobile-only{
                    margin-bottom: .3rem;
                    font-size: 0.85rem;
                }
            }
            .heading {
                font-size: 1.8rem;
            }
            .text {
                color: #4f4f4f;
                line-height: 1.5;
                margin-top: 0.4rem;
                @include mobile-only{
                    font-size: .9rem;
                }
            }
        }
    }
}







