@import '../../styles.scss';

.contact {
    @include container-padding;
}

.icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 2vw + 1rem, 4rem);
    list-style-type: none;

    // li {
    //     text-decoration: none;
    // }

    .icon {
        font-size: clamp(2rem, 2vw + 1rem, 4rem);
        &:hover {
            cursor: pointer;
            color: pink;
        }
    }

}
