@import './variables';

canvas {
    position: absolute;
    top: $page-padding;
    left: $page-padding;
    width: calc(100% - 2 * $page-padding);
    height: calc(100% - 2 * $page-padding);
    // background-color: #25003a;
    overflow: hidden;
    z-index: 1;
    padding: $page-padding;
}