@use 'variables';

canvas {
    position: absolute;
    top: variables.$page-padding;
    left: variables.$page-padding;
    width: calc(100% - 2 * variables.$page-padding);
    height: calc(100% - 2 * variables.$page-padding);
    // background-color: #25003a;
    overflow: hidden;
    z-index: 1;
    padding: variables.$page-padding;
}