$page-padding:              clamp(1rem, 1vw + 1rem, 3rem);
$text-font-size:            clamp(1.5rem, 1vw + 0.25rem, 3rem);
$text-font-size-large:      clamp(2rem, 1vw + 0.5rem, 4rem);
$background-color:          #080e28;
$text-background-opacity:   0.9;
$font-color:                 #bec6ccbb