$page-padding:              clamp(1rem, 1vw + 1rem, 3rem);
$text-font-size:            clamp(1.5rem, 1vw + 0.25rem, 4rem);
$background-color:          pink;
$text-background-opacity:   0.9;
$font-color:                 #373737