@use '../../styles/styles';
@use '../../styles/variables' as vars;


.skills {
    position: absolute;
    bottom: calc(vars.$page-padding * 1);
    width: calc(100svw - (vars.$page-padding * 5));
    display: flex;
    justify-content: center;

    .icon-list-container {
        display: flex;
        max-height: 50svh;
        z-index: 20;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: clamp(0.5rem, 1vw + 0.5rem, 4rem);
        position: relative;
        width: 100%;
        max-width: 75svw;

        .icon {
            font-size: clamp(3rem, 3vw + 1rem, 4.5rem);
            &.js:hover, p {
                color: pink;
                fill: yellow;
            }
        }
    }


    @media screen and (min-width: 502px) {
        justify-content: end;
        gap: clamp(0.5rem, 2vw + 1rem, 4rem);
        bottom: calc(vars.$page-padding * 2);
        right: calc(vars.$page-padding * 2);
    }
}


