@import '../../styles/styles.scss';

.skills {
    position: absolute;
    bottom: calc($page-padding * 3);
    width: calc(100svw - ($page-padding * 5));
    display: flex;
    justify-content: end;
}

.icon-list-container {
    display: flex;
    max-height: 50svh;
    z-index: 2;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(0.5rem, 2vw + 1rem, 4rem);
    position: relative;
    width: 100%;
    align-items: flex-end;

    max-width: 45svw;

    .icon {
        // flex-basis: 10%;
        font-size: clamp(1rem, 3vw + 1rem, 7rem);
    }
}
