@use '../styles/colors' as colors;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
    width: 100%;

    a {
        &:hover {
            text-decoration: underline;
            color: colors.$bright-white;
        }
    }
}