@import '../../styles/variables';

.page {
    background-color: $background-color;
    height: 100svh;
    width: 100svw;
    padding: clamp(1rem, 2vw + 1rem, 3rem);

    .frame {
        border: 1px solid $font-color;
        height: 100%;
        width: 100%;
        padding: $page-padding;
        display: flex;
        flex-direction: column;

        .header {
            position: relative;
            z-index: 2;

            .nav {
                background-color: rgba($background-color, $text-background-opacity); // TODO - change with new background color
                // -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
                //     from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
                padding-block: $page-padding;
                z-index: 2;
                position: relative;
                max-width: fit-content;
                padding-block: 1em;
                padding-inline-end: 3em;

                ul {
                    padding-inline: 0;
                    line-height: 1.6;

                    li {
                        
                        &:hover {
                            transform: scale(1.05);
                            color: rgba($font-color, 0.6);
                        }
                        a {
                            font-size: clamp(2rem, 1vw + 0.5rem, 3rem);
                            text-decoration: none;
                            opacity: 1;
    
                            &.active {
                                border-inline-start: 3px solid pink;
                                padding-inline-start: 1em;
                                // font-weight: 900;
                                color: #fffffff0;
                            }
                        }
                    }

                }
            }
        }
    }
}