@use '../../styles/variables' as vars;
@use '../../styles/colors' as colors;

.page {
    background-color: vars.$background-color;
    height: 100svh;
    width: 100svw;
    padding: clamp(1rem, 2vw + 1rem, 3rem);

        .frame {
        border: 1px solid vars.$font-color;
        height: 100%;
        width: 100%;
        padding: vars.$page-padding;
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 30rem;
        min-height: 40rem;

        .header {
            z-index: 50;

            .nav {
                padding-block: 1em;
                max-width: 35svw;

                ul {
                    padding-inline: 0;
                    line-height: 1.9;

                    li {
                        &:hover {
                            color: rgba(vars.$font-color, 0.6);
                        }
                        display: inline;
                        a {
                            font-size: clamp(1.6rem, 1vw + 0.5rem, 3rem);
                            text-decoration: none;
                            opacity: 1;
                            display: block;
                            width: 100%;

                            &.active {
                                border-inline-start: 3px solid pink;
                                padding-inline-start: 1em;
                                color: colors.$bright-white;
                            }
                        }
                    }

                }
            }
        }
    }
}