@use '../../styles/variables' as vars;

.info-container {
    .name, .job {
        text-transform: uppercase;
    }
    .name {
        font-weight: 600;
        font-size: clamp(3rem, 10vw + 1rem, 8rem);
        font-style: italic;
    }
    .job {
        font-size: clamp(1.8rem, 1vw + 1rem, 4rem);
    }
}