.info-card {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .image {
        max-width: 45ch; // TODO - update this
        object-fit: cover;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name {
            font-weight: 700;
        }
        .job {
            text-transform: uppercase;
        }
    }
}

